<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chamcong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChamCong">
        <activity android:name=".XoaPhongBan"></activity>
        <activity android:name=".SuaPhongBan" />
        <activity android:name=".ThemPhongBan" />
        <activity android:name=".QuanLyPhongBan" />
        <activity android:name=".Thongke" >

        </activity>
        <activity android:name=".ThemNhanVien" />
        <activity android:name=".TestTabLayoutActivity" />
        <activity android:name=".Lichsuchamcong">

        </activity>
        <activity android:name=".Doimatkhau" />
        <activity android:name=".Thongtinuser" />
        <activity android:name=".ScanQR" />
        <activity android:name=".TrangchuAdmin" >
        </activity>
        <activity android:name=".Trangchu" ></activity>
        <activity android:name=".Dangnhap" />
        <activity android:name=".Xoachucvu" />
        <activity android:name=".Xoanhanvien" />
        <activity android:name=".Suachucvu" />
        <activity android:name=".Themchucvu" />
        <activity android:name=".Quanlychucvu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Quanlynhanvien">
        </activity>
        <activity android:name=".Dieuchinhnhanvien" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/styles" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>